# Dependencias
node_modules/

# Entornos y credenciales
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Artefactos de build
dist/
build/

# Archivos de editor/OS
.DS_Store
Thumbs.db
.vscode/